md-toolbar
  button("md-raised-button"="", title="Connect") Connect
  a("md-raised-button"="", title="Register", "[routerLink]"="['/register']") Register

div.global
  div.title
    h1.welcome {{title}}
  // slider Loading slider...
