md-toolbar(color="primary")
  h1.welcome {{title}}

div.global
  md-card(style="width: 400px; margin: auto;")
    div
      a("md-button"="", title="Register", "[routerLink]"="['/authenticate']") Authenticate
      // Force space between buttons
      =  " "
      a.md-primary("md-raised-button"="", title="Register", "[routerLink]"="['/register']") Register
    // This is hack to force the inclusion of md-button
    div(style="display: none;")
      button("md-button"="")
