md-card
  .user-details("*ngIf"="user !== null")
    h2 {{user.name | async}}
    //ul
    //  li("*ngFor"="let acc of user.accounts | async")
    //    h2
    //      span {{acc.name}}
    //      span {{acc.driver}}

  .top-buttons
    a(md-icon-button="", "[routerLink]"="['/chat/add-account']", title="Add Account")
      md-icon.md-24 add
    = " "
    button(md-icon-button="", title="New MetaDiscussion")
      md-icon.md-24 forum
    = " "
    a(md-icon-button="", "[routerLink]"="['/chat']", title="Home")
      md-icon.md-24 home

  // h2 Meta
    ul
      li(ngFor...)
  ul("*ngIf"="user !== null")
    li("*ngFor"="let acc of user.accounts | async")
      h2
        span {{acc | json}}
      .contacts
        md-nav-list
          // TODO: button and use (click)="openDiscussionWithContact(userAccount, contactAccount)"
          a(md-list-item="", "[routerLink]"="['/chat/discussion']")
            .avatar
            .name Contact1

// md-sidenav-layout(layout="row")
  md-sidenav("[mode]"="'side'", opened="true")
//md-toolbar
//  h1 Your contacts
//// md-input(type="text", "[(ngModel)]"="searchQuery", placeholder="Search...")
//h2.md-no-sticky Recent...
//md-list
//  md-list-item("*ngFor"="let c of contacts", "[class.selected]"="c === selectedContact",
//    "(click)"="selectContact(c)")
//    h3.name {{c.username}}
//    button("*ngIf"="c === selectedContact", "md-raised-button"="", "(click)"="sendEvent()" ) Discuss
