@import "../../style/material"

.top-buttons
  text-align: center

.top-buttons > [md-icon-button]:hover
  background-color: rgba(0, 0, 0, 0.12)

.top-buttons > a
  vertical-align: bottom
  line-height: 36px
