.contactsList
{
	background-color: #2F6FAD;
	opacity: 0.8;
}

.title
{
	background-color: #008800;
	opacity: 0.8;
}

.list
{
	background-color: #E87D0D;
	opacity: 0.9;
}

.contact
{
	background-color: darkorchid;
	opacity: 0.9;
}