md-sidenav-container(layout="row")
	md-sidenav(name="Contacts", "[style]"="hasMedia('gt-sm') ? 'side' : 'over'")
		md-toolbar
			h1.md-toolbar-tools Your contacts
		md-list
			md-input-container
				input.md-input(placeholder="Search...", type="text")
			md-subheader.md-no-sticky Recent...
			md-list-item("*ngFor"="#c of contacts; #index = index", "[class.selected]"="c === selectedContact",
				"(click)"="selectContact(c)")
				h3.name {{c.username}}
				button("*ngIf"="c === selectedContact", "md-raised-button"="", "(click)"="sendEvent()" ).md-raised Discuss
			md-divider
			md-subheader.md-no-sticky Older...
			md-list-item("*ngFor"="#c of contacts; #index = index")
				h3.name {{c.username}}
				button("md-raised-button"="").md-raised Discuss

