h1 {{title}}

div("*ngIf"="selectedHero")
    h2 {{selectedHero.name}} details!
    div
        label id:
        | {{selectedHero.id}}
    div
        label name:
        div
            input("[(ngModel)]"="selectedHero.name", placeholder="name")

h2 My Heroes
ul.heroes
    li(
        "*ngFor"="#hero of heroes",
        "(click)"="onSelect(hero)",
        "[class.selected]"="hero === selectedHero"
    )
        span.badge {{hero.id}}
        | {{hero.name}}
