div#bloc
	div.md-whiteframe-5dp.md-inline-form(layout="column")
		md-content(layout-padding="").back
			div
				form(name="userForm")
					div(layout-gt-sm="column")
						md-input-container.md-whiteframe-3dp
							label Username
							input.md-input("[(value)]"="_connectionItems.username")
						md-input-container.md-whiteframe-3dp
							label Password
							input.md-input("[(value)]"="_connectionItems.password", type="password")
						md-checkbox("[(checked)]"="_connectionItems.keep", aria-label="Keep me connected") Keep me connected
						button.md-raised#connectButton("md-raised-button"="", title="Connect and chat with your friends !",
							"[class.ok]"="_connectionItems.password && _connectionItems.username",
							"[disabled]"="!_connectionItems.password || !_connectionItems.username") Connect
						md-divider.awayfromtop
						div.centered.awayfromtop(layout-gt-sm="column")
							span Not a member yet ?
							span#toSignUp Join us !
