div.upperBand#upperContainer
  div.upperBandContainer#right
    form#connectForm
      input.formTextArea#username(type="text" name="username" placeholder="Username")
      input.formTextArea#password(type="password" name="password" placeholder="Password")
      button.homeButton#connect(title="Connect and chat with your friends") Sign In
      input.logOption#keepLogged(type="checkbox" value="Keep me logged" checked="checked")
      label.text(for="keepLogged") Keep me logged in
  div.upperBandContainer#left
    button.homeButton#sign(title="Join us !") Sign Up
div.global
  div.title
    h1.welcome {{title}}
  slider Loading slider...
