.side-pane
  md-card
    h1 {{username}}
  oc-accounts-list
.content
  md-card
    h1 Discussion
.clear

//md-toolbar.md-whiteframe-1dp.md-toolbar-tools
//	span(flex="")
//	h1 Account Details
//
// .wrapper
  oc-contacts-list
//	oc-discussions-tabs.right
