md-card
  h2 Add Account
  form("(submit)"="onSubmit($event)")
    md-radio-group("[(ngModel)]"="driverName")
      div
        md-radio-button(value="facebook") Facebook
      div
        md-radio-button(value="skype") Skype
    div("[ngSwitch]"="driverName")
      div("*ngSwitchWhen"="'facebook'")
        div facebookEmail
        div facebookPassword
      div("*ngSwitchWhen"="'skype'")
        div skypeUsername
        div skypePassword
    // TODO: disable button when data are invalid
    input(type="submit", value="Add account")
  .error("*ngIf"="errorMessage !== null")
    span {{errorMessage}}
