doctype html
html
  head
    title oChat
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    // link(rel="icon", type="image/ico", href="/favicon.ico")
    link(rel="stylesheet", type="text/css", href="/style/main.css")
    base(href="/")

  body
    h1 oChat Client
    contacts-list
      div CHARGEMENT
    script(src="https://code.angularjs.org/2.0.0-beta.6/angular2-polyfills.js")
    script(src="./browser/main.js")
