doctype html
html
  head
    title OmniChat : a chat to rule them all
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel="stylesheet", type="text/css", href="/style/home.css")
  body
    h1 Welcome you !
    button#b Bouton
    script(type="text/javascript" src="./browser/main.js")
