doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="viewport", content="width=device-width, initial-scale=1")
    title OmniChat : a chat to rule them all
    base(href="/")

    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", type="text/css", href="/style/home.css")

  body
    oc-app Loading oc-app...
    // Add support for observable objects (detect changes)
    script(src="https://code.angularjs.org/2.0.0-beta.17/angular2-polyfills.js")
    // Import the main script
    script(src="/browser/main.js")
