md-card
	ul("*ngIf"="user !== null")
		li("*ngFor"="let userAccount of user.accounts | async")
			h2
				span {{userAccount.name | async}}
			.contacts
				md-nav-list
					div("*ngFor"="let contactAccount of userAccount.contactAccounts | async")
						a(md-list-item="")
							md-checkbox {{contactAccount.name | async}}
