md-card
  md-toolbar(color="primary") Authentication
  md-card-content
    form("(submit)"="submit($event)")
      table(style="width: 100%", cellspacing="0")
        tr
          td
            md-input(style="width: 100%", "[(ngModel)]"="login", placeholder="Login")
        tr
          td
            md-input(type="password", style="width: 100%", "[(ngModel)]"="password", placeholder="Password")
        tr
          td
            md-checkbox("[(ngModel)]"="keep") Keep me connected

      input(type="submit",
        "md-raised-button"="",
        title="Authenticate",
        "[class.ok]"="login && password",
        "[disabled]"="!login || !password",
        value = "Authenticate"
      )

    .divider

    .centered.awayfromtop(layout-gt-sm="column")
      span Not a member yet ?
      a("[routerLink]"="['/register']") Join us!
