div.slider
	h1 {{title}}
	div.centeredContent("*ngIf"="pictures")
		div.superposition("*ngFor"="#pic of pictures ; #i=index", "[class.current]"="i === currentPic", "[class.hidden]"="i !== currentPic")
			img.sliderPic("[class.current]"="i === currentPic", "[class.hidden]"="i !== currentPic", src="{{pic}}", "(click)"="nextPicture()")
