div.slider
	h1 {{title}}
	div("*ngIf"="pictures")
		div("*ngFor"="#pic of pictures ; #i=index", "[class.current]"="i === currentPic", "[class.hidden]"="i !== currentPic")
			img.sliderPic(src="{{pic}}", "(click)"="nextPicture()")
