.slider
{
	background-color: rebeccapurple;
}

.sliderPic
{
	position: absolute;
	top: 100%;
	width: 100%;
}

.centeredContent
{
}

.current
{
	transition: opacity 0.5s linear;
	opacity : 1;
}

.hidden
{
	transition: opacity 0.5s linear;
	opacity: 0;
}