div.slider
	div.centeredContent("*ngIf"="pictures")
		div.superposition("*ngFor"="#pic of pictures ; #i=index", "[class.current]"="i === currentPic", "[class.hidden]"="i !== currentPic")
			img.sliderPic("[class.current]"="i === currentPic", "[class.hidden]"="i !== currentPic", src="{{pic}}", "(click)"="nextPicture()")
			div.arrow.left("*ngIf"="i === currentPic")
				img#leftarrow(src="../../pictures/arrowL.png")
			div.arrow.right("*ngIf"="i === currentPic")
				img#rightarrow(src="../../pictures/arrowR.png")