.slider
{
	background-color: rebeccapurple;
	text-align: center; /* TEMP until title disappear */
}

.sliderPic
{
	top: 100%;
	width: 90%;
}

.superposition
{
	position: absolute;
}

.centeredContent
{
	text-align: center;
}

.current
{
	transition: opacity 0.5s linear;
	opacity : 1;
}

.hidden
{
	transition: opacity 0.5s linear;
	opacity: 0;
}