md-card
  h2 Discussion
  // Check if the discussion is available
  div("[ngSwitch]"="discussion")
    // Ensure that there is no error if the user navigates to /chat/discussion manually
    div("*ngSwitchWhen"="null")
      p There is no active discussion. Choose a contact or discussion on the left.

    // The discussion is available
    div("*ngSwitchDefault"="")
      h3.discussName {{discussion.name | async}}

      ul.participants
        // TODO

      div.messages("[ngSwitch]"="discussion.messages.getValue()")
        div("*ngSwitchWhen"="null")
          p.no-messages No available messages

        div("*ngSwitchDefault"="")
          ul
            li("*ngFor"="let msg of discussion.messages | async")
              span("*ngIf"="msg !== null") {{msg.body | async}}

      form.controls("(submit)"="sendMessage()")
        md-input(style="width: 70%", "[(ngModel)]"="message", placeholder="Your message")
        input(type="submit", md-raised-button="", value="Send message")
