md-card
  h2 Discussion
  .participants
  ul.messages
    li Hello
    li World!
  .controls
    textarea
    // button(md-icon-button="", "[routerLink]"="['/chat']", title="Send")
      md-icon.md-24 send
