/* TODO : erase useless things */

.toolbar
{
  position: absolute;
  background-color: black;
  top : 0px;
  left : 0px;
  right : 0px;
  width : 100%;
  height: 50px;
  box-shadow:  #2C2C2C 0px 2px;
  transition: opacity 0.5s linear;
  opacity: 0.75;
}

.toolbar:hover
{
  opacity: 1; /* Transition thanks to the rule .toolbar */
}

.upperBandContainer
{
  position: relative;
  top: 15px;
}

#right
{
  float: right;
  position: relative;
  right: 5%;
}
#left
{
  float: left;
  position: relative;
  left: 10%;
}

.homeButton
{
  background-color: #3073B0;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.formTextArea
{
  position: relative;
  margin-right: 5px;
  border-radius: 5px;
}

.logOption
{
  color: white;
}
.text
{
  position: relative;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  top: -2px;
  color: white;
}