.wrapper{
    display: block;
    position: relative;
    margin: 20px;
}

input, textarea, ol{
    display: block;
    margin: 5px 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.author{
    font-weight: bold
}

.author::after{
    content: ': '
}
