md-toolbar.md-whiteframe-1dp.md-toolbar-tools
	div.md-toolbar-tools
		button.md-raised.md-whiteframe-5dp.md-accent#sign("md-raised-button"="", title="Join us !") Sign Up
		button.md-raised.md-whiteframe-5dp.md-accent#connect("md-raised-button"="", title="Connect and chat with your friends") Sign In
