// TODO: build fonts automatically
$md-font-url: "fonts/"

@import "../../../node_modules/@angular2-material/core/style/_palette.scss"

// Define colors
$md-primary: md-palette($md-blue-grey, 800, 700, 900, $md-contrast-palettes)
$md-accent: md-palette($md-teal, A700, A200, A400, $md-contrast-palettes)
$md-background: md-palette($md-grey, 0, 0, 0, $md-contrast-palettes)

// @import "../../../node_modules/@angular2-material/core/style/core.css"
// @import "../../../node_modules/@angular2-material/core/overlay/overlay.css"
